body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.card{
width: 300px;
border:3px solid black;
padding: 30px;
position: relative;
}
.budget {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #8ee38e;
  border: 3px solid green;
  padding: 15px 20px;
  font-size: 14px;
  font-weight: bold;
}
.card img{
    width: 300px;

}
.card h2 {
  margin: 10px 0 5px;

}

.price {
  color: orange;
  font-weight: bold;
  margin-bottom: 30px;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
button {
  width: 100%;
  padding: 10px;
  background-color: #ffd966;
  color: orangered;
  border: 2px solid rgb(244, 158, 11);
  border-radius: 8px;
  font-size: 16px;
  
  cursor: pointer;
}

button:hover {
  background-color: orange;
  color: white;
}