body {
  font-family: Arial, Helvetica, sans-serif;
  gap: 5px;
  display: flex;
  margin: 0;
 
}
.card {
  flex: 1;
  min-width: 0;
  border: 2px solid black;
  padding: 30px;
  position: relative;
  background-color: rgb(243, 226, 193);
  box-sizing: border-box;
}
.budget {
  position: absolute;
  top: 35px;
  left: 35px;
  background-color: hsl(120, 60%, 72%);
  border: 3px solid green;
  padding: 15px 20px;
  font-size: 14px;
  font-weight: bold;
}

.card .box-img img {
  width: 100%;
  object-fit: cover;
  display: block;
}


.card h2 {
  margin: 10px 5px;
}
.label {
  position: absolute;
  left: 200px;
  border: 1px solid;
  padding: 10px 15px;
  background-color: aqua;
  font-weight: bold;
  color: blue;
}

.price {
  color: orange;
  font-weight: bold;
  margin-bottom: 30px;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.btn {
  width: 100%;
  padding: 10px;
  background-color: #ffd966;
  color: orangered;
  border: 2px solid rgb(244, 158, 11);
  border-radius: 8px;
  font-size: 16px;

  cursor: pointer;
}

.btn:hover {
  background-color: orange;
  color: white;
}

@media (max-width: 768px) {
  body {
    flex-wrap: wrap;
  }

  .card {
    flex: 0 0 48%;
  }
}
